@font-face {
    font-family: 'como-light';
    src: url('fonts/como-light-webfont.woff2') format('woff2'),
         url('fonts/como-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #00A79D;
    color: #ffffff;
    font-size: 25;
    font-family: 'como-light';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
}

body.container {
   padding-right: 50px;
    padding-left: 50px; 
}

img {
    width: 100%;
    height: auto;
    max-width: 480px;
}

.release-date {
    font-size: 1.6em;
}

.slogan {
    font-size: 1em;
}

/* SOCIAL */

.social-list { 
    width: 100%;
    margin: 0 auto;
    font-family: 'como-light', sans-serif;
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 20px auto;
    padding: 0;
}

ul li {
    min-width: 100px;
    text-align: left;
    margin-bottom: 20px;
}

ul li i {
    min-width: 30px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

/* Trademark */
.trademark {
    color: #006f68;
}
